<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Etudiants en attente</title>
</head>

<body>
    <h1>Liste des étudiants en attente : </h1>
    <form action="/attente/submit" method="post">
        <table>

            <% for(var i=0; i < data.length; i++) { %>

            <tr>

                <td><span style="font-weight: bold; font-size: large;">Nom : </span> <%= data[i].nom_etudiant %>, <span
                        style="font-weight: bold; font-size: large;">Prenom : </span><%= data[i].prenom_etudiant %>
                    <input type="checkbox" name="button" value="<%=data.username%>"></td>

            </tr>
            <% } %>
        </table>
        <input type="submit" value="submit">
    </form>
</body>

</html>