<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/public/homepage.style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="ulf-8"></script>
    <script src="https://kit.fontawesome.com/850fde094c.js"></script>
    <title>Home page | Welcome to Univ Guelma</title>
</head>
<body>
    <div class="container">
        <ul>
            <a href="/login?type=admin"><li><i class="fas fa-user-cog"></i><br><span>Administrator</span></li></a>
            <a href="/login?type=student"><li><i class="fas fa-user-graduate"></i><br><span>Student</span></li></a>
            <a href="/login?type=teacher"><li><i class="fas fa-chalkboard-teacher"></i><br><span>Teacher</span></li></a>
        </ul>
    </div>
    
</body>
</html>