<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>En attente</title>
</head>
<body>
    <h1> merci pour votre inscription, vous etes dans la liste d'attente! un admin vous accepteriez si vous etes du departement !</h1>
</body>
</html>