
body{
    height: 100vh;
    font-family: Verdana;
    background: white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sidebar{
    position: fixed;
    top: 0;
    left: -250px;
    background: #262626;
    width: 250px;
    height: 100%;
    transition: .3s;
}

.active{
    left: 0;
}

ul{
    margin: 0;
}

ul li{
    list-style: none;
}

ul li a{
    padding:  10px 20px;
    color:  #fff;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid rgba(0,0,0,.2);
}

.sidebarbtn{
    position: absolute;
    top:15px;
    right: -70px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: #ffffff00;
    z-index: -1;
    border: none;
    outline: none;
}

.sidebarbtn i{
    padding-top: 9%;
    align-content: center;
    width: 30px;
    height: 30px;
    border-radius: 180%;
    background: none;
    font-size: 20px;
    transition: .3s;
}

.sidebar i:hover{
    background: #262626;
    color: white;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,0.2), 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12);
}

.sidebarbtn .fa-window-close{
    display: none;
}

.sidebarbtn.toggle .fa-window-close{
    display:block;
}

.sidebarbtn.toggle{
    left: 260px;
}
.sidebarbtn.toggle .fa-bars{
    display: none;
}

.sidebarbtn span::before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #262626;
    transition: .3s;

}

.menu{
    width: 90%;
    position: relative;
    align-items: center;
    display: flex;
    left: 90px;
    top: 24px;
    transition: 0.3s;
}

.menu h3{
    margin-left: 50%;
    margin-right: 5px;
    font-size: 28px;
    padding-bottom: 5px;
    transition: .3s;
}

.menu.active h3{
    margin-left: 40%;
}
.menu i{
    font-size: 20px;
}
.menu.active{
    left:300px;

}

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    overflow: hidden;
    transition: .3s;
}


#table{
    border-collapse: collapse;  
    width: 80%;
    font-size: 18px;
    text-align: center;
    margin: 0 auto; 
}

th,td{
    border: 2px solid #111;
    box-sizing: border-box;
    padding: 15px;
}
.tab td {
    transition: all .25s ease-in-out;
}
.tab td:hover{
    background: antiquewhite;
    cursor: pointer;
}

/*popup box*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
 
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

.modal-content h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    font-size: 30px;
}
.modal-content .inp{
    border-bottom: 2px solid #adadad;
    position: relative;
    margin: 30px 0;
}
.modal-content .inp .nom_module{
    display: block;
    font-size: 25px;
    color: #111;
    border: none;
    width: 90%;
    outline: none;
    background: none;
    padding: 0 5px;
    height: 40px;
    margin-bottom: 5px;
}

/*.modal-content .inp span::after{
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(120deg,#2c3e50,#34495e);
    transition: .5s;
}
.focus + span::after{
    width: 100%;
}*/

.modal-content .btn{
    margin-top: 20px;
    display: block;
    width: 30%;
    height: 40px;
    border: none;
    margin-left: 70%;
    border-radius: 36px;
    background: linear-gradient(50deg,#2c3e50,#34495e,#2c3e50);
    background-size: 200%;
    color: #fff;
    outline: none;
    cursor: pointer;
}